<h1>Media File</h1>

<%= form_tag media_files_path, method: :get, class: 'form-inline' %>
  <div class="form-group">
    <%= text_field_tag :q, params[:q], class: 'form-control' %>
  </div>
  <%= button_tag raw('<i class="fa fa-search"></i> Search'), type: 'submit', class: 'btn btn-default' %>
</form>

<table class="table table-bordered table-striped">
<tr>
  <th>Path</th>
  <th class="col-md-2">Resolution</th>
</tr>
<% @media_files.each do |media_file| %>
<tr>
  <td><%= link_to media_file.path, media_file %></td>
  <td>
    <span class="label label-info"><%= resolution_label(media_file.width) %></span>
  </td>
</tr>
<% end %>
</table>

<%= will_paginate @media_files, renderer: BootstrapPagination::Rails %>
